.profile {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: var(--radii);
    background-color: var(--blue-500);
    padding: 2rem;
}

.profile__img {
    width: 100px;
    height: 100px;
    border: 3px white solid;
    border-radius: 50%;
}

.profile__subtitle {
    margin: 30px 0 0;
    font-size: 14px;
    font-family: var(--family);
    font-weight: var(--weight--light);
}

.profile__title {
    margin: 30px 0 0;
    font-size: 30px;
    font-family: var(--family);
    font-weight: var(--weight--normal);
}
