.footer {
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 50px;
    border: 2px gray solid;
    border-radius: 1rem;
}

.footer__link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.5s;
}

.footer__link:hover {
    opacity: 0.7;
    color: aquamarine;
}
